.app {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */
    background-image: linear-gradient(
        -225deg,
        #5d9fff 0%,
        #b8dcff 48%,
        #6bbbff 100%
    );
    /* background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
}
